<li>
  <span><%= __("words.sentBy")%><%= message.name %></span><br><br>
  <%= message.message %> (<%= __("words.Hello", "Teste") %>)<br>
  <small><em><%= __n("words.Users", message.usersInConversation)%></em></small><br><br>
</li>
