<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EJS</title>
</head>
<body>
	A: <%= __("words.Orders") %><br>
	B: <%= __n("words.Users", 3) %><br>
	C: <%= __n("words.Users", 1) %><br>
	D: <%= __("words.Hello", "Teste") %>

	<% var abc = "teste" %>
	<div class='element'>
		<% include title %>
		<%- abc %>
	</div>
	<script src='/assets/ejs.js'></script>
	<script>
		// var html = new EJS({url: 'template/title'}).update(document.getElementsByClassName('element')[0], {title: "olá mundo"});
		var html = new EJS({url: 'template/title'}).render({title: "olá mundo"});
		console.log(html);
	</script>
</body>
</html>
